<meta charset="UTF-8">
<title>Brain Doctor</title>

<!-- CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<style>
	body 	{ padding-top:50px; }
</style>