<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

  <ul>
    <% data.forEach(function(val){ %>
        <li><a href="/api/download/<%= val %>"><%= val %></a></li>
    <% }) %>
  </ul>
</body>
</html>