<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>Add</h1>
			<form action="/api/read" method="post" enctype="multipart/form-data">
				<input type="file" name="data" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01"><input type="submit" class="btn btn-primary" value="파일 업로드하기">
			</form>

			<form class="form-group" action="/api/write" method="POST">
				<label>Title</label>
				<input name="title" type="text" id="exampleForm2" class="form-control">
				<label>Body</label>
				<textarea name="contents" class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"></textarea>
				<button type="submit" class="btn btn-primary">등록</button>
			</form>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>